stages:
  - lint
  - test
  - build

lint:
  stage: lint
  image: python:3.11
  script:
    - pip install --upgrade pip
    - pip install ruff
    - ruff check .
  only:
    - merge_requests
    - main

test:
  stage: test
  image: python:3.11
  before_script:
    - pip install -r requirements.txt 
    - pip install pytest
  script:
    - pytest
  only:
    - main


build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - main